<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
  <title>Kamiocal</title>
  <link rel="shortcut icon" href="https://cdn.discordapp.com/emojis/1009412343303770173.png" type="image/png">
  <link href="/styles/style.css?version=<%= Date.now() %>" rel="stylesheet" />
</head>

<body class="p-6 bg-[#1f1f1f]">
  <ul class="grid grid-cols-1 gap-6 sm:grid-cols-2 md:grid-cols-4 lg:grid-cols-6">
    <% data.map((file) => { %>
    <a href="<%= file.name %>" <%= file.type !== 'folder' ? 'target="_blank"' : '' %>>
      <li class="flex flex-col justify-center p-4 transition-transform group duration-500 transform 
      <%= file.type === 'folder' ? 'bg-[#1A1A1A] hover:bg-[#2A2A2A]' : 'bg-[#292929] hover:bg-[#363636]' %> 
        rounded-lg shadow-md hover:scale-105  text-gray-500 max-w-[400px] h-[200px] overflow-hidden">
        <!-- icons -->
        <div class="flex justify-center">
          <% if (file.type === "folder") { %>
          <img src="/icons/folder.svg" alt="Folder icon" class="size-8">
          <% } else if (['jpg', 'jpeg', 'png', 'gif', 'bmp', 'tiff', 'webp'].includes(file.type)) { %>
          <img src="/icons/image.svg" alt="Image icon" class="size-8">
          <% } else if (['mp4', 'mov', 'avi', 'mkv', 'wmv', 'flv'].includes(file.type)) { %>
          <img src="/icons/video.svg" alt="Video icon" class="size-8">
          <% } else if (['mp3', 'wav', 'aac', 'ogg', 'flac'].includes(file.type)) { %>
          <img src="/icons/audio.svg" alt="Audio icon" class="size-8">
          <% } else if (['pdf','txt', 'docx', 'pdf', 'rtf', 'odt'].includes(file.type)) { %>
          <img src="/icons/doc.svg" alt="Documents icon" class="size-8">
          <% } else if (['zip', 'rar', '7z', 'tar', 'gz'].includes(file.type)) { %>
          <img src="/icons/zip.svg" alt="Archive icon" class="size-8">
          <% } else { %>
          <img src="/icons/file.svg" alt="File icon" class="size-8">
          <% } %>
        </div>

        <div class="flex flex-col items-center mt-2">
          <!-- File Name -->
          <span class="text-sm font-medium overflow-hidden text-ellipsis whitespace-nowrap max-w-[200px] text-center"><%= file.name %></span>

          <!-- Size, Type -->
          <p class="mt-2 text-xs font-bold text-center text-gray-400">
            Size: <%= file.size %> |
            <%= file.type === "folder" ? "" : 'Type: ' + file.type %>
            <%= file.totalFiles !== null ? 'Total Files: ' + file.totalFiles : '' %>
          </p>
        </div>
      </li>

    </a>
    <% }); %>
  </ul>
</body>

</html>